language: c++
before_script:
    - mkdir build
    - cd build
    - cmake ..
script: make
branches:
  only:
    - master
notifications:
  recipients:
    - james@clickteam.com
  email:
    on_success: change
    on_failure: always


